Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Models/Materials_And_Texures/T_CrackedRock_BC.uasset
Content/Models/Materials_And_Texures/T_CrackedRock_BC.uasset
Content/Models/Materials_And_Texures/T_StoneFloor_BC.uasset
